.success-msg-cont{
    background-color: #419e3a;
    margin: 20px;
    padding: 10px;
    padding-left: 35px;
    border-radius: 7px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow:2px 2px 10px #999999;
}
.X-button{
    float: right;
    background-color: #419e3a;
    color: #c2ffd8;
    font-size: 20px;
    border: 0px;
    cursor: pointer;
}