.rating {
    display: inline-block;
    direction: rtl; /* To handle star order correctly */
    margin-left: 30px;
}
.rating input {
    display: none;
}
.rating label {
    color: #ddd; 
    font-size: 2rem; 
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}
.rating label:hover,
.rating label:hover ~ label {
    color: #ffcc00;
}
.rating input:checked ~ label {
    color: #ffcc00;
}