.game{
    font-size: 14px;
    width:350px;
    text-align: center;
    transition: 0.3s;
    background-color: #d6fffc;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #9d9d9d;
    font-family:Arial, Helvetica, sans-serif;
}
.game:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.game p{
    color: #AE6435;
}

img{
    width: 310px;
    height: 300px;
    transition: 0.5s;
    margin-top: 15px;
}

a{
    text-decoration: none;
}
.game-price{
    margin-bottom: 20px;
    color: #AE6435;
}