.landing-page-cont {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
.landing-page-cont::-webkit-scrollbar {
  display: none;
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  margin-bottom: 100px;
  transform-style: preserve-3d;
  z-index: -1;
}
#video_landingpage {
  transform: translateZ(-10px) scale(2);
  padding-bottom: 100px;
}
.title {
  color: #22878E;
  font-size: 5rem;
  text-shadow: 2px -2px 0px black;
  text-align: center;
  margin-top: 800px;
  transform: translateZ(-5px) scale(1.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title,
#video_landingpage {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  background-image: url("../Assets/ForeRunnerArchitechture.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
